@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base{
  .containerlg{
    @apply flex min-h-screen flex-col items-center bg-background  justify-normal   p-24
  }
  html{
    font-family: 'Noto Sans Mono', monospace;
  }

}

#modal-modal-title{
  margin: 20px;
  color:#5A0005;
  font-size: 30px;

}
#modal-modal-description{
  color:#4B4B4B;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 13px;
  line-height: 15px;


}

.modal-label{
  color: #25255d;
  font-weight: 700;
  width: 200px;
  display: inline-block;
  /* padding-right: 100px; */
}